@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
@import url('https://fonts.googleapis.com/css?family=Arimo');

/*
main blocks styles
*/
/*
#wrapper {
  max-width: 960px;
  margin: auto;
}*/
/*header {
  padding: 30px 0;
}*/

footer css
footer {
  background: #7e7e7e;
  color: #dbdbdb;
  font-size: 11px;
}

#footer {
  margin: auto;
  padding: 20px 0;
  height: 90px;
}

#footer-logo {
  float: right;
  margin-top: 20px;
  font-size: 10px;
  text-align: right;
}
footer a {
  color: #5ba1b0;
}

#sitemap {
  width: 150px;
  float: left;
  margin-left: 20px;
  padding-right: 15px;
}

#sitemap div {
  display: inline-block;
}

#sitemap div + div {
  margin-left: 40px;
}

#sitemap a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}

#sitemap a:hover {
  text-decoration: underline;
}




/*
header test */

* { padding: 0; margin: 0; }
body { background: #dce2e1; font-family: 'Lato', sans-serif; text-transform: uppercase; letter-spacing: 1px;}

header {
  text-align: justify;
  height: 10em;
  padding: 2em 5%;
  background: #5ba1b0;
  color: #d8caae;
}

header::after {
  content: '';
  display: inline-block;
  width: 100%;
}

header > div,
header > div::before,
header nav,
header > div h1 {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

header > div {
  height: 100%;
}

header > div::before {
  content: '';
  height: 100%;
}

header > div h1 {
  font-size: 3em;
  font-style: italic;
}

header nav a {
  padding: 0 0.6em;
  white-space: nowrap;

}


header nav a:last-child {
  padding-right: 0;
}

@media screen and (max-width: 720px){

  header {
    height: auto;
  }

  header > div,
  header > div h1,
  header nav {
    height: auto;
    width: auto;
    display: block;
    text-align: center;
  }

}


/*
html,body{margin:0;padding:0}
*/

/*
div#header{position:relative}
*/

/*
div#wrapper{float:left;width:100%}
*/

/*
div#content{margin: 0 25%}
*/

/*
div#navigation{float:left;width:25%;margin-left:-100%;background:#D3D3D3}
*/

/*
div#extra{float:left;width:25%;margin-left:-25%; background:#FF8539}
*/

div#footer{clear:left;width:100%; background: #d8caae;color: #5ba1b0}
.logo {
    float: left;
}
nav {
    float: right;
    color: beige;
}

.button {
    background:  #d8caae;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    padding: 10px 2px;
}
.search_name{
    text-align: center;
    color: lightseagreen;
    font-size: 15pt;
}

.mainText {
    text-transform: none;
    background: #dce2e1;
    font-family: 'Lato', sans-serif;
    letter-spacing: normal;
}

.form{
    border: 2px solid #5ba1b0;;
    border-radius: 4px;}

/*search*/
.col-sm-3{
    overflow: hidden;
    margin: 0 0 0 auto;
    float: none;
}
ul {
    margin: 0;
    list-style: none;
    padding: 20px;
    background: #e7e6d4;
    overflow: auto;
}
li {
    float: left;
    width: calc(100% / 3 - 20px);
    height: 50px;
    margin-right: 20px;
    background: #ffffff;
    border: 3px dashed #666666;
}
li:last-child {margin-right: 0;}